/*Variables*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: #acecf7;
    --clr-primary-2: hsl(43, 90%, 76%);
    --clr-primary-3: hsl(43, 72%, 37%);
    --clr-primary-4: hsl(42, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(42, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(43, 89%, 70%);

    --clr-primary-8: hsl(45, 86%, 81%);
    --clr-primary-9: hsl(45, 90%, 88%);
    --clr-primary-10: hsl(45, 100%, 96%);

    /* grey used for paragraphs */
    --clr-jet-5: #363537;
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;

    --clr-button-1: #363537;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

.cards-title {
    text-align: center;
}

.cards-title span {
    text-transform: uppercase;
}

.cards-container {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.scene {
    display: inline-block;
    min-width: 250px;
    height: 260px;
    perspective: 300px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    border: none;
}

.card-title {
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: var(--clr-jet-5);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    border-radius: 20px;
}

.card__face--front {
    background: var(--clr-primary-2);
}

.card__face--back {
    background: var(--clr-primary-1);
    transform: rotateY(180deg);
}

.card__face--learned {
    background: var(--clr-primary-2);
}

.checkmark-container {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.gg-check-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 3));
    width: 22px;
    height: 22px;
    border: 2px solid green;
    border-radius: 100px
}

.gg-check-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-color: green;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}

.btn-learned {
    background-color: var(--clr-button-1);
    border: none;
}

@media (min-width: 30rem) and (max-width: 48rem) {
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 60px;
    }

    .scene {
        max-width: 250px;
        height: 260px;
        perspective: 300px;
    }
}


@media (min-width: 48rem) {
    .cards-container {
        margin-top: 80px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .scene {
        width: 350px;
        min-width: 300px;
        max-width: 350px;
        perspective: 300px;
    }
}
